/*Setting the background color*/
body{
	background-color: black;
}
/*Setting Font and font size of the navigation bar*/
li {
	font-size: 27px;
	font-family: "hanson", "Super Grotesk Offc Medium","Helvetica","Arial","sans-serif";
}

/*this is getting rid of the bullets*/

ul {
	list-style-type: none;
	margin: 0;
	padding: 12px;
	overflow: hidden;
	border: 1px solid #000000;
	background-color: black  ;

}

/* making the tool bar horizontal*/

li {
	float: left;
}

/* changing writing to black*/

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px16px;
	text-decoration: none;
}

/* change link color to dark on hover*/

li a:hover {
	background-color: white;
	color: black;
}

/* make page your on light up */

.active {
	background: #000000;
}

/* border divider */

li { 
border-left: 1px solid #ffffff;
}

li:first-child {
	border-left: none;
}


/* navigation bar stays of the top */
ul { 
position: fixed;
top: 0;
width: 98%;
}

/* floating bar items */

li { 
float: right;
}
li:first-child {
	float: left;
}



form {
	color: black;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	width: 550px;
	font-size: 20px;
	font-family: "hanson", "Super Grotesk Offc Medium","Helvetica","Arial","sans-serif";
	font-weight: bold;
	padding: 10px;
	background-color: #3cdddd;
	border: 3px solid #3cdddd;
	border: inset 3px solid #3cdddd;
	float: none;
}





